/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: myFirstFont;
    src: url(~/fonts/Assistant/Assistant-Regular.ttf);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    direction: rtl;
    font-family: 'Arimo', sans-serif;
}

h2 {
    text-shadow: 2px 2px rgb(172, 191,217);
}

th { 
    text-align: right;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 0;
    margin: 0 auto;
}

.container {
    width: 100%;
    overflow: hidden;
}

/* Carousel */

.carousel-inner {
    height: 260px;
    width: 100%;
}

    .carousel-inner img {
        width: 100%;
        height: auto !important;
        vertical-align: middle;
    }

/* Sale Section */
.sale-section {
    text-align: center;
}

    .sale-section img {
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

/*Weather Section*/
.weatherwidget-io {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    transition: width 2s;
}

.weatherwidget-io:hover {
    width: 700px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Contact Page*/

/*About-Section*/
.welcome-section {
    text-align: center;
}

    .welcome-section #news {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        -webkit-column-width: 100px; /* Chrome, Safari, Opera */
        -moz-column-width: 100px; /* Firefox */
        column-width: 100px;
        border: 2px solid rgb(172, 191,217);
        padding: 10px;
        border-radius: 25px;
    }

.branch-section {
    text-align: center;
}

.contact-section {
    text-align: center;
}

/*Map Section*/

#MyMap {
    width: 600px;
    height: 400px;
    margin: auto;
}
