@{
    ViewData["Title"] = "Index";
}
<h2>פאנל מנהלים</h2>

<a asp-action="ItemsView">מוצרים</a><br />
<a asp-action="UsersView">משתמשים</a><br />
<a asp-action="BranchesView">סניפים</a><br />
<a asp-action="Index" asp-controller="Statistics">סטטיסטיקות</a>